.about {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  width: 50%;
}

.image {
  width: 50%;
}

img {
  border-radius: 10%;
  border: 1px solid black;
  width: 50%;
  height: auto;
  float: right;
}

// img :hover{

// }
