.navbar {
  width: 100%;
  height: 7rem;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar * {
  display: inline;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12%;
  width: 100%;
  height: 100%;
}

.wrapper a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: black;
  font-size: x-large;
  cursor: pointer;
}

.wrapper a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.wrapper a:hover:after {
  transform: scaleX(1.5);
  transform-origin: bottom left;
}
